* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

#overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-family: 'Roboto', Calibri, 'Times New Roman', serif;

  display: none;
}

#avatarTop__container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
}

#avatarTop__name {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#avatarButton {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  background: antiquewhite;
  cursor: pointer;
}

#avatarInfo__container {
  display: flex;
  padding: 2em;
  gap: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 100%;
  background: antiquewhite;
  border-top: 1px solid;
  box-shadow: 1px 1px 1em;
  transition: 1s;
}

#avatarInfoClose__container {
  position: absolute;
  top: 5%;
  right: 2.5%;
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  cursor: pointer;
  font-weight: bold;
}

#avatarInfo__left {
  border-radius: 20px;
}

#avatarInfo__right,
#avatarInfo__name {
  font-size: 2em;
}

#avatarInfo__class {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#avatarInfo__img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}